<div class="container mx-auto min-h-screen flex justify-center items-center">
  <div class="grid grid-cols-1 md:grid-cols-12 justify-items-center items-center">
      <div class="md:col-span-6">
          <img src="https://img.freepik.com/free-vector/computer-login-concept-illustration_114360-7892.jpg?w=826&t=st=1699197280~exp=1699197880~hmac=c665b7b5f508046f72cb32cb88312d75c2edcc318d6678a773f3c08247a6925a" alt="">
      </div>
      <div class="w-full max-w-lg md:col-span-6 items-center">
          <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
              <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                      Kullanıcı Adı:
                  </label>
                  <input name="username" required #userName="ngModel" [(ngModel)]= user.username class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Kullanıcı Adı">
              </div>
              <div class="mb-6">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                      Şifre:
                  </label>
                  <input name="password" required #password="ngModel" [(ngModel)]="user.password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Şifre">
              </div>
              <div class="flex items-center justify-between">
                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                      Login
                  </button>
              </div>
              
          </form>
      </div>
  </div>
</div>